<%= stylesheet_link_tag 'users_index' %>
<%= stylesheet_link_tag 'users_show' %>
<section class='user-section'>
    <div class='user-container user-show'>
        <%= image_tag(@user.photo, class: 'user-image') %>
        <div class='user-info'>
            <h2 class='username'><%= @user.name %></h2>
            <p class='posts-counter'>Number of posts: <%= @user.posts_counter %></p>
        </div>
    </div>

    <div class='user-bio'>
        <h3>Bio</h3>
        <p><%= @user.bio %></p>
    </div>

    <% if @user.recent_posts.any? %>
        <div class='user-posts'> 
            <% @user.recent_posts.each do |post| %>
                <div class='post-container'>
                    <h3><%= post.title %></h3>
                    <p><%= post.text %></p>
                    <%= link_to 'View post', user_post_path(@user.id, post.id), class: 'interactive-links' %>
                    <div class='post-interactions'>
                        <p>
                            Comments: <%= post.comments_counter %>,
                            Likes: <%= post.likes_counter %>
                        </p>
                    </div>
                </div>
            <% end %>
        </div>

        <%= link_to user_posts_path(@user.id), class: 'all-posts-button' do %>
            <p>See all posts</p>
        <% end %>
    <% else %>
        <div class='no-posts'>
            <h2>This user has no posts</h2>
        </div>
    <% end %>
</section>